.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hero-connect{
    text-align: center;
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;

}

.nav-links{
    display: flex; 
    width:100%;
    height:50vh;
    color:#fafafa;
}
.nav-links:hover{
    text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 background: linear-gradient(45deg, rgba(214, 186, 150) 5%, rgba(185, 138, 76) 44%,rgba(180, 113, 25))  87%;
  
}

.nav-text h2{
    color: #fafafa;
    text-decoration: none;
    font-size:3rem;  
}



.nav-text p{
    color: #fafafa;
    text-decoration: none;
    font-size:2rem; 
}

.card-deck{
    margin-top: 25px;
}

.hr-rule{
    width: 90%;
    margin-left:5%;
    margin-top: 25px;
}
.connect-h3{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.connect-h3-2{
    text-align: center;
    margin-top: 10px;
    display: none;

}

img.card-img-top{
    max-height: 150px;
    min-height: 110px;
   

   }

   .card-footer .btn{
       text-align: center;
       font-weight: bold;
       width: 100%;
       background-color: rgb(185, 138, 76);

       
   }

   .card-footer .btn:hover{

       background-color:rgb(180, 113, 25) ;
       color: #fff;
   }

   @media only screen and (max-width: 1024px){

.nav-container{

    display: block;

}

.nav-links{

    height: 25vh;
}

.nav-text p{

font-size: 20px;
}

.connect-h3-2{
    
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 5px;
}

.connect-h3{

    display: none;

}

.connect-h4{
    margin: 20px;
    text-align: center;
    display: block;
}

.card{
    
    position: relative;
    width: 100%;
    padding: 20px;
    
    
}


   }