
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hero-learn{
    text-align: center;
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
    display: flex; 
    width:100%;
    height:50vh;
    color:#fafafa;
}
.nav-links:hover{
    text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, rgba(98,96,142,1) 5%, rgba(22,145,196,1) 44%, rgba(0,212,255,1) 87%);
  
}

.nav-text h2{
    color: #fafafa;
    text-decoration: none;
    font-size:3rem;  
}

.nav-text p{
    color: #fafafa;
    text-decoration: none;
    font-size:2rem; 
}

.card-deck{
    margin-top: 25px;
}

.hr-rule{
    width: 90%;
    margin-left:5%;
    margin-top: 25px;
}
.learn-h3{
    text-align: center;
    margin-top: 10px;
}

img.card-img-top{
    max-height: 150px;
    min-height: 110px;
   
}
img.card-img-top:hover{
    opacity: 0.6 ;
   }